<p>
  <strong> commenter: </strong>
  <%= comment.commenter %>
</p>
<p>
  <strong> comment: </strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'destroy all your bases',
              [comment.article,comment ] ,
              method: :delete,
              data:{confirm: 'are yo sure?'}
  %>
</p>